*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 1rem;
}

body {
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container, .page {
  max-width: 100rem;
  margin: 0 auto;
}

.page {
  overflow: hidden;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-basis: 100%;
}
@media screen and (min-width: 800px) {
  .column {
    flex: 1;
  }
}

.footer {
  justify-content: space-between;
  align-items: center;
  padding-left: 13.44rem;
  padding-right: 13.44rem;
  min-height: 9.875rem;
  background-color: #292229;
  color: #fff;
}
.footer__title {
  color: #fff;
}
.footer__no-title {
  display: none;
}

.nav {
  min-height: 7.5rem;
  align-items: center;
  background-color: #f3f3f3;
}
.nav__links {
  display: flex;
  list-style-type: none;
  gap: 0 2.5rem;
}
.nav__link {
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #000;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s;
}
.nav__link:hover, .nav__link:active {
  transform: translateY(-1px) scale(1.1);
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 13.44rem;
  gap: 0 0.62rem;
}
.logo-image {
  display: inline-block;
  border-radius: 50%;
  width: 4.375rem;
  height: 4.375rem;
  background-color: #d6b6ab;
  transition: all 0.2s;
}
.logo-image:hover, .logo-image:active {
  transform: translateY(-1px) scale(1.1);
}
.logo__text {
  display: flex;
  flex-direction: column;
  color: #413038;
  font-family: Montserrat;
  font-style: normal;
  line-height: normal;
}
.logo__text--top {
  text-transform: capitalize;
  text-align: center;
  font-weight: 600;
  font-size: 1.125rem;
}
.logo__text--bottom {
  font-size: 0.9375rem;
  font-weight: 700;
}

.hero {
  min-height: 56.25rem;
  background-color: #e4e4e4;
}
.hero__content {
  min-height: 56.25rem;
  gap: 0 5.44rem;
}
.hero__left {
  padding-top: 10.81rem;
  padding-left: 13.44rem;
  flex: initial;
  flex-basis: 39.24rem;
}
.hero__header {
  width: 25.8125rem;
  margin-bottom: 0.94rem;
  color: #000;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.hero__message {
  width: 18.25rem;
  margin-bottom: 2.5rem;
  color: #000;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.hero__images {
  padding-top: 9.5rem;
  position: relative;
}
.hero__images--behind {
  position: absolute;
  top: 13.62rem;
  left: 18.75rem;
}

.btn, .btn:link, .btn:visited {
  width: 16.3125rem;
  height: 4rem;
  padding: 1.38rem 4.44rem;
  text-decoration: none;
  transition: all 0.2s;
  background: linear-gradient(100deg, #ec627c 29.54%, #ec627c 73.06%);
  box-shadow: 0px 9px 35px 0px #ec627c;
  color: #fff;
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scalex(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--pill {
  border-radius: 1.9375rem;
}
.btn--rounded {
  border-radius: 0.625rem;
}

.contact {
  min-height: 52.93rem;
  background-color: #292229;
}

.incentives {
  min-height: 75rem;
  background-color: #d6b6ab;
  padding: 3.12rem 13.44rem;
}
.incentives__header {
  color: #392a31;
  font-family: Montserrat;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 3rem;
}
.incentives__items {
  display: flex;
  flex-direction: column;
  gap: 1.56rem 0;
}
.incentives__sub-header {
  color: #392a31;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.incentives__content {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 0.6rem 0.6rem;
  padding: 4rem;
  background-color: #d9d9d9;
}
.incentives__item {
  height: 18.3rem;
  overflow: hidden;
}
.incentives__item:nth-of-type(even) {
  flex-direction: row-reverse;
}
.incentives__image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.incentives__list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.6rem 0.6rem;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 25rem;
  padding-left: 17.31rem;
  padding-right: 17.31rem;
  background-color: #e4e4e4;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  text-align: center;
  font-family: Montserrat;
}
.quote__message {
  color: #000;
  font-size: 2.5rem;
  margin-bottom: 3.12rem;
}
.quote__name {
  color: #b19c83;
  font-size: 1.25rem;
}

.story {
  min-height: 85.9375rem;
  background-color: #d6b6ab;
  padding-left: 13.44rem;
  padding-right: 10.25rem;
}
.story__content {
  gap: 0 1.88rem;
  border: 1px solid red;
}
.story__image-box {
  padding-top: 10.25rem;
  max-width: 41.8rem;
  border: 1px solid black;
}
.story__image {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.story__info-container {
  border: 1px solid blue;
  padding-top: 13.56rem;
}
.story__info {
  display: flex;
  flex-direction: column;
  gap: 1.56rem 0;
  margin-bottom: 3.12rem;
}
.story__header {
  color: #000;
  font-family: Montserrat;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.story__text {
  color: #000;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.story__text--mark {
  color: #000;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}

/*# sourceMappingURL=style.css.map */
