// Colors

$color-primary: #ec627c;
$color-primary-dark: #d6b6ab;
$color-grey: #e4e4e4;
$color-grey-light: #f3f3f3;
$color-grey-dark: #d9d9d9;
$color-black: #000;
$color-white: #fff;
$color-brown: #392a31;
$color-brown-dark: #413038;
$color-brown-light: #b19c83;
$color-deep-brown: #292229;

// Fonts
$default-font-size: 1rem;

$default-margin-left: 13.44rem;
