.hero {
  min-height: 56.25rem;
  background-color: $color-grey;

  &__content {
    @include gap-spacing(5.44rem);
  }

  &__left {
    border: 1px solid yellow;
    @include flex-initial(39.24rem);
  }
}
