.nav {
  min-height: 7.5rem;
  align-items: center;
  background-color: $color-grey-light;

  &__links {
    display: flex;
    list-style-type: none;

    @include gap-spacing(2.5rem);
  }

  &__link {
    font-family: Montserrat;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: $color-black;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.2s;

    &:hover,
    &:active {
      transform: translateY(-1px) scale(1.1);
    }
  }
}
